# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [24]:
CREATE TABLE may2024junkdb.planned_makes.food 
 (Burgers , with_bacon,
   Wings, with_spice,
   .
   .
   .
   Candy, with_sour
);

: Msg 102, Level 15, State 1, Line 4
Incorrect syntax near 'Candy'.

Add three rows to your table that are your planned makes.

In [ ]:
-- Inserting a record with values for each column in the table

INSERT INTO planned_makes.food
VALUES (Chips, Ramen, Popcorn);

-- Inserting a record with values for some of the columns in the table

INSERT INTO planned_makes.food (Ramen, Popcorn, ...)
VALUES (55_types, Ramen, Popcorn,);

## Update a Row

Change different values in one of your three rows.

In [26]:
UPDATE planned_makes.food
SET Chips = Hot_cheetohs
WHERE food = 55_types;

: Msg 102, Level 15, State 1, Line 3
Incorrect syntax near '_types'.

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM planned_makes.food WHERE 55_types = Ramen;

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE planned_makes.food